<h1>Listing spirits</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spirits.each do |spirit| %>
  <tr>
    <td><%= spirit.name %></td>
    <td><%= spirit.type %></td>
    <td><%= link_to 'Show', spirit %></td>
    <td><%= link_to 'Edit', edit_spirit_path(spirit) %></td>
    <td><%= link_to 'Destroy', spirit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spirit', new_spirit_path %>
