<%= form_for(@mix) do |f| %>
  <% if @mix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mix.errors.count, "error") %> prohibited this mix from being saved:</h2>

      <ul>
      <% @mix.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drink_id %><br />
    <%= f.text_field :drink_id %>
  </div>
  <div class="field">
    <%= f.label :mixable_id %><br />
    <%= f.text_field :mixable_id %>
  </div>
  <div class="field">
    <%= f.label :mixable_type %><br />
    <%= f.text_field :mixable_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
