<p id="notice"><%= notice %></p>

<p>
  <b>Drink:</b>
  <%= @mix.drink_id %>
</p>

<p>
  <b>Mixable:</b>
  <%= @mix.mixable_id %>
</p>

<p>
  <b>Mixable type:</b>
  <%= @mix.mixable_type %>
</p>


<%= link_to 'Edit', edit_mix_path(@mix) %> |
<%= link_to 'Back', mixes_path %>
